//- Variables
include config/_site
include config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'index.html'
- page[ 'title' ] 		= 'title'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'apis' ]		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [ 'home' ]
- page[ 'print' ]       = [  ]


doctype
html(lang=page.lang)
	include template/_head
	body
		.page
			include template/_header
			section.geolocate-section
				.map#map(data-lat="19.4978" data-lng="-99.1269" data-icon="")
				.tools
					button.btn.btn-default#btnLocate Localizame
					p ó
					input#address(type="text" placeholder="Localizame esta...")
					p ó
					button.btn.btn-default#btnRoute(data-lat="" data-lng="") ¿Cómo llegar al Hotel de la CDMX?
					.panel#panelRoute
			include template/_footer
		
		#js
			include template/_scripts
