//- Container site
max-width 100%

//- Folders
base 'assets/'
background 'assets/backgrounds'
fonts 'assets/fonts'
icons 'assets/icons'


//- Icons


//- Typography
  //- e.g.
main-typography = 'Roboto', sans-serif
complementary-typography = 'shoppiland', sans-serif

//- Weight Tipografia
  //- e.g.
  //- @thin = 200
light = 300
regular = 400
  //- @medium = 500
bold = 700

//- Colours
//- Use http://www.color-blindness.com/color -name-hue/
  //- e.g.
  //- Blue
  //- @comet = #666976
  //- Grey
  //- @aluminium = #8C8D91

//- Color by functionality
//- Borders
//- Fills
//- Text
//- Shadows
  //- e.g. (Keywords: color | fill | bg)
  //- @brand-color = @comet
  //- @accent-first-color = @mantis
  //- @accent-second-color = @amaranth

  //- @text-color = @comet
  //- @text-title-color = @comet
  //- @header-color = @comet
  //- @border-color = @comet
  //- El prefijo bg reservemoslo para imágenes de fondo.


brand-color = #FF175B //brand-color
accent-brand-color = #660066 //accent-brand-color
gradient-color = linear-gradient(to bottom, brand-color, accent-brand-color)

complementary-color = #54C8E5 // complementary-color

white-color = #FFFFFF //white-color
lighten-gray-color = #F0F0F0 //lighten-gray-color
gray-color = #C8CCCE // gray-color
darkest-gray-color = #AAAAAA //darkest-gray-color
black-color = #535353 //black-color
facebook-color = #3a5a99 //black-color



//- Breakpoint
desktop = max-width
tablet-landscape = 1024px
tablet-portrait = 960px
tablet = 768px
mobile = 560px
mobile-landscape = 480px
mobile-portrait = 320px

//- Icons
icon-facebook = '\e900'
